.slider {
  background: linear-gradient(
    224.72deg,
    rgba(49, 35, 174) -1%,
    rgba(201, 109, 215) 100.5%
  );
  position: relative;
}

.slider__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.slider__title {
  font-family: "Poppins-Medium";
  font-size: 40px;
  color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-family: "SourceSansPro-Regular";
  font-size: 16px;
  color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #fff;
  transition: all 0.5s;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #fad65e;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #ffc300;
}

.slider__search {
  padding: 5px 20px;
  transition: all 0.5s;
}

.slider__search:hover svg {
  color: #ffc300;
}

.search__btn {
  color: #fff;
  border: 1px solid #ffffff4b;
  border-radius: 24px;
  padding: 10px 45px;
  transition: all 0.5s;
}

.search__btn:hover {
  color: #fff;
  background-color: #ffc300;
}

.slider__next {
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff4b;
  border-radius: 24px;
  padding: 10px;
  transition: all 0.3s;
}

.slider__next:hover {
  border: 1px solid #ffffffa6;
}

.slider__prev {
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff4b;
  border-radius: 24px;
  padding: 8px;
  transition: all 0.3s;
}

.slider__prev:hover {
  border: 1px solid #ffffffa6;
}

.carousel-control-next,
.carousel-control-prev {
  width: 10%;
}

.slider__img {
  max-width: 100%;
}

.header__suptitle {
  font-family: "Poppins-Medium";
  text-transform: uppercase;
}

.header__logo {
  font-family: "Poppins-Medium";
  font-size: 67px;
  padding: 0;
}

.header__btn {
  color: #fff;
  background-color: #ffc300;
  border: 1px solid #ffffff4b;
  border-radius: 24px;
  padding: 10px 45px;
  transition: all 0.5s;
}

.header__btn:hover {
  color: #fff;
  background: none;
}

.statistics {
  background: #fdf2ff;
  margin-bottom: 50px;
}

.statistics_item {
  font-family: "Poppins-Bold";
  font-size: 40px;
}
.statistics_text {
  font-family: "SourceSansPro-ExtraLight";
  color: #333;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
