@font-face {
  font-family: "Poppins-Medium";
  src: local("Poppins-Medium"), url("Poppins-Medium.ttf");
}
@font-face {
  font-family: "SourceSansPro-Regular";
  src: local("SourceSansPro-Regular"), url("SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: local("Poppins-Bold"), url("Poppins-Bold.ttf");
}

@font-face {
  font-family: "SourceSansPro-ExtraLight";
  src: local("SourceSansPro-ExtraLight"), url("SourceSansPro-ExtraLight.ttf");
}
